{$RESERVATION_DOMAIN} {
	encode zstd gzip

	handle /v1/* {
		@unsupported_method not method GET POST PUT PATCH DELETE OPTIONS HEAD
		respond @unsupported_method 405
		request_body {
			max_size 1MB
		}
		reverse_proxy reservation-api:4100 {
			header_up X-Forwarded-For {remote_host}
		}
	}

	handle /admin* {
		reverse_proxy reservation-console:4300
	}

	handle {
		reverse_proxy reservation-booking:4400
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		?Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
	}
}
